---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=26e0e9f7bf539e0caac6c5189f30e6a9&exclude=minutely,%20alerts&lat=33.748547&lon=-84.391502&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.7485,"lon":-84.3915,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1650755867,"sunrise":1650711432,"sunset":1650759250,"temp":24.76,"feels_like":24.54,"pressure":1022,"humidity":48,"dew_point":13.02,"uvi":0.49,"clouds":40,"visibility":10000,"wind_speed":4.63,"wind_deg":120,"wind_gust":9.26,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1650754800,"temp":24.76,"feels_like":24.54,"pressure":1022,"humidity":48,"dew_point":13.02,"uvi":0.49,"clouds":40,"visibility":10000,"wind_speed":3.98,"wind_deg":144,"wind_gust":5.96,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1650758400,"temp":24.57,"feels_like":24.36,"pressure":1022,"humidity":49,"dew_point":13.16,"uvi":0,"clouds":33,"visibility":10000,"wind_speed":2.96,"wind_deg":137,"wind_gust":6.97,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1650762000,"temp":23.82,"feels_like":23.62,"pressure":1022,"humidity":52,"dew_point":13.38,"uvi":0,"clouds":46,"visibility":10000,"wind_speed":2.63,"wind_deg":130,"wind_gust":7.69,"weather":[{"id":802,"m[...]
