---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_key>&location=Staten%20Island
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 26 Apr 2022 19:49:59 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Staten
        Island"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Staten
        Island","adminArea5Type":"City","adminArea4":"Richmond County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041195","unknownInput":"","type":"s","latLng":{"lat":40.643498,"lng":-74.076203},"displayLatLng":{"lat":40.643498,"lng":-74.076203},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_key>&type=map&size=225,160&locations=40.643498,-74.076203|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1704861883"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Richmond
        County","adminArea4Type":"County","adminArea3":"GA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dra[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_key>&exclude=minutely,%20alerts&lat=40.643498&lon=-74.076203&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.6435,"lon":-74.0762,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1651002599,"sunrise":1650967291,"sunset":1651016782,"temp":60.33,"feels_like":59.63,"pressure":1015,"humidity":76,"dew_point":52.74,"uvi":1,"clouds":100,"visibility":10000,"wind_speed":14,"wind_deg":35,"wind_gust":15.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1650999600,"temp":59.74,"feels_like":59.04,"pressure":1015,"humidity":77,"dew_point":52.52,"uvi":1.5,"clouds":100,"visibility":10000,"wind_speed":5.06,"wind_deg":23,"wind_gust":5.84,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.34},{"dt":1651003200,"temp":60.33,"feels_like":59.63,"pressure":1015,"humidity":76,"dew_point":52.74,"uvi":1,"clouds":100,"visibility":10000,"wind_speed":4.05,"wind_deg":342,"wind_gust":5.44,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.63},{"dt":1651006800,"temp":59.92,"feels_like":59.27,"pressure":1015,"humidity":78,"dew_point":53.04,"uvi":0.53,"clouds":100,"visibility":10000,"wind_speed":4.83,"wind_deg":338,"wind_gust":6.78,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.72},{"dt":1651010400,"temp":59.47,"feels_like":58.82,"pressure":1015,"humidity":79,"dew_point":52.95,"uvi":0.09,"clouds":100,"visibility":10000,"wind_speed":5.26,"wind_deg":334,"wind_gust":8.19,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.74},{"dt":1651014000,"temp":58.53,"feels_like":57.99,"pressure":1014,"humidity":83,"dew_point":53.4,"uvi":0.02,"clouds":99,"visibility":10000,"wind_speed":3.76,"wind_deg":358,"wind_gust":6.13,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.72,"rain":{"1h":0.3}},{"dt":1651017600,"temp":57.7,"feels_like":57.31,"pressure":1015,"humidity":88,"dew_point":54.18,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4,"wind_deg":309,"wind_gust":7.7,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.86,"rain":{"1h":0.4}},{"dt":1651021200,"temp":56.89,"feels_like":56.66,"pressure":1015,"humidity":93,"dew_point":54.66,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":6.17,"wind_deg":320,"wind_gust":14.12,"we[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_key>&exclude=minutely,%20alerts&lat=40.643498&lon=-74.076203&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.6435,"lon":-74.0762,"timezone":"America/New_York","timezone_offset":-14400,"c[...]
