---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_key>&location=Staten%20Island
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 24 Apr 2022 21:21:45 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Staten
        Island"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Staten
        Island","adminArea5Type":"City","adminArea4":"Richmond County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041195","unknownInput":"","type":"s","latLng":{"lat":40.643498,"lng":-74.076203},"displayLatLng":{"lat":40.643498,"lng":-74.076203},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_key>&type=map&size=225,160&locations=40.643498,-74.076203|marker-sm-50318A-1&scalebar=true&zoom=12&rand=454621058"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Richmond
        County","adminArea4Type":"County","adminArea3":"GA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","drag[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_key>&exclude=minutely,%20alerts&lat=40.643498&lon=-74.076203&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.6435,"lon":-74.0762,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1650835306,"sunrise":1650794656,"sunset":1650843855,"temp":12.76,"feels_like":11.55,"pressure":1024,"humidity":56,"dew_point":4.21,"uvi":1.99,"clouds":0,"visibility":10000,"wind_speed":6.69,"wind_deg":160,"wind_gust":9.26,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1650834000,"temp":12.76,"feels_like":11.55,"pressure":1024,"humidity":56,"dew_point":4.21,"uvi":1.99,"clouds":0,"visibility":10000,"wind_speed":5.82,"wind_deg":128,"wind_gust":6.32,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1650837600,"temp":12.6,"feels_like":11.4,"pressure":1024,"humidity":57,"dew_point":4.32,"uvi":0.76,"clouds":5,"visibility":10000,"wind_speed":5.29,"wind_deg":127,"wind_gust":5.84,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1650841200,"temp":12.14,"feels_like":10.92,"pressure":1024,"humidity":58,"dew_point":4.13,"uvi":0.18,"clouds":8,"visibility":10000,"wind_speed":5.16,"wind_deg":126,"wind_gust":5.97,"weather":[{"id":800,"main":"Cl[...]
